.h2{font-size: 3vh;}
.h3{font-size: 2vh;}
.h4{font-size: 1.5vh;}
.bold{font-weight: bold;}

/* Navbar */
nav{
    height: 10vh;
    padding: 1vh;
    background-color: rgb(185, 229, 255);
}
ul.nav.nav-pills{
    width: 100%;
    background-color: white;
    padding: 1vh;
    border-radius: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.col-12{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(209, 237, 255);
}
.img-logo{
    height: 5vh;
}