body{
    background-color: rgb(250, 235, 215);
    font-family: "Mozilla Headline", sans-serif;
}

div.container-fluid.index{
    height: 100vh;

    & div.row{
        height: 100vh;

        & div.col-6{
            display: flex;
            justify-content: center;
            align-items: center;

            & a{
                width: 60%;
                background-color: rgb(129, 146, 177);
                border-radius: 5vh;
                border: 5px solid black;
                color: black;
                font-weight: bold;

                & p{
                    font-size: 3vh;
                    text-align: center;
                    width: 100%;
                }
                & img{
                    height: 50%;
                    width: 100%;
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    border-radius: 4vh;
                }
            }
            & a:hover{
                text-decoration: none;
                width: 62%; 

                & img{
                    height: 52%;
                }
            }
        }
    }
}

div.bg-color-orange{
    z-index: 1000;
    background-color: rgb(114, 153, 226);
    height: 100%;
    position: fixed;
    display: block;
    align-content: top;
    text-align: center;
    font-size: 1vh;
    padding-top: 5vh;

    & p{
        color:white;
        font-size: 3vh;
    }
    & select, input[type="number"], input[type="text"]{
        width: 100%;
        height: 6%;
        border-radius: 5px;
    }
    & a>div{
        padding: 4px;
        font-size: 2vh;
        font-weight: bold;
        background-color: white;
        color: black;
        border-radius: 5px;
    }
    & a>div:hover{
        text-decoration: none;
    }
}

table{
    border: 1px solid black;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 7vh;
    width: 100%;

    & th{
        background-color: rgb(8, 45, 82);
        color: rgb(255, 255, 255);
    }
    & tr.sim{
        background-color: rgb(212, 230, 255);
    }
    & tr.nao{
        background-color: rgb(255, 255, 255);
    }
    & td, tr, th{
        height: auto;
        padding: 3px;
        border: 1px solid rgb(0, 40, 15);
        font-size: 2vh;

        & .id{
            width: 5vh;
        }
    }   
}

footer{
    background-color: black;
    color: white;
    width: 100%;
    height: 5vh;
    font-size: 2vh;
    align-content: center;
    text-align: center;
    position: fixed;
    bottom: 0%;
    z-index: 99999;
}